<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
  </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  
    I hope one day that coronavirus will end with minimal losses, so God bless your loved ones.
    <br><br>
    <div dir="rtl">
      اتمنى بيوم من الايام ان فايروس كورونا سينتهي باقل الخسائر, فليحفظ الله لكم احبابكم 
    </div>

    <br><br><br>

    <ion-card mode="ios">
      <ion-card-content>
        Designed and developed by: Ahmad Faris Sabah
    <br>
    Email: me@ahmadev.com
      </ion-card-content>
    </ion-card>
    
    <br>

    <ion-card mode="ios">
      <ion-card-content>
        <ion-item>
          <ion-label style="font-size: 11px !important;" slot="start">Country Flags</ion-label>
          <a target="_BLANK" href="https://countryflags.io">
          <ion-button slot="end"  expand="block" fill="clear" shape="round">
            countryflags.io
          </ion-button>
          </a>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 11px !important;" slot="start">coronovirus DATA API</ion-label>
          <a target="_BLANK" href="https://github.com/NovelCOVID/API">
          <ion-button slot="end"  expand="block" fill="clear" shape="round">
            github.com/NovelCOVID/API
          </ion-button>
          </a>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <br>
    <br>

    
  


</ion-content>
